html {
  scroll-behavior: smooth;
}

div {
  border: 0px solid #ff0000;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px solid red;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

.landing_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_text {
  color: whitesmoke;
  text-align: center;
  margin: 4px 2px;
  position: relative;
  opacity: 0;
  transition: 2s;
}

h1 {
  margin-top: 0px;
  font-size: 150;
  font-family: 'Ma Shan Zheng', cursive;
  font-weight: 100;
}

h2 {
  font-size: 40;
  font-family: 'Comfortaa';
  font-weight: 100;
}

h3 {
  font-family: 'Comfortaa';
  font-size: 14;
  font-weight: 200;
}

.button_container {
  position: absolute;
  bottom: 12vh;
  justify-content: center;
  align-items: center;
}

#scroll_button {
  border: 1.5px solid rgb(0, 0, 0);
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-size: 40px;
  margin: auto;
  
  cursor: pointer;
  border-radius: 18px;
  display: block;
  /* button width */
  width: 70px;  
  height: 70px;
  z-index: 1;

  opacity: 0;
  transition: 2s;
}

#scroll_button:hover {
  background-color: #ffffff22;
  color: #c40000;
  }

.landing_banner {
  position: absolute;
  width: auto;
  height: 100vh;
}

#row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  width:auto;
  height: 96vh;
}

.column {
  float: left;
  padding: 10px;

}

.gallery {
  overflow-wrap: break-word;
  width: 60%;
  float: left;
  padding: 100px, 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_group {
  width: 40%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.nested {
  float: center;
  margin: auto;
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center;
}

.button_group button {
    border: none;
    background-color: rgb(0, 0, 0);
    color:whitesmoke;
    padding: 15px 6px;
    text-align: center;
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 14px;
    margin: 20px auto;
    
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    /* button width */
    width: 50%;
    
  }

.button:hover {
  background-color: #c40000;
  color: white;
  }

.slide {
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 85vh;
  padding: 50px 20px;
}

.footer {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  background-color: #89a1b6;
  margin: 0px;
  padding: 10px;
  position: relative;
  bottom: 0;
}

.footer_text {
  font-family:'Comfortaa';
  font-size: 12px;
  color: whitesmoke;
  text-decoration: none;
}