div {
  border: 1px solid red;
}

#container {
  height: 200px;
  position: relative;
}

#text {
  font-size: 40px;
  opacity: 0;
  color:blue;
  position: absolute;
  transform:translateY(200px);
  transition: all 1.5s ease;
}

#text.slide {
  transform:translateY(0px);
  opacity: 1;
}